<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>TX Ticket</title>
</head>
<body class="w-full overflow-hidden">
    <div class="flex gap-8">
        <div class="w-[50%] ml-[100px] my-[130px]">
            <img src="/assets/logo.png" alt="" class="w-[500px] h-[400px]">
        </div>
        <div class="ml-5 w-[50%]">
            <form action="/login" method="POST">
                <div class=" mt-[100px] mr-[120px]">
                    <h2 class="font-poppins text-black font-semibold text-[50px] ">
                        Login to your account
                    </h2>
                    <div class="flex flex-col mt-6">
                        <label class="font-poppins text-black text-2xl">Email</label>
                        <input name="email" type="text" placeholder="Input your email" class="font-poppins py-3 px-6 border-[1px] rounded-[15px]">
                    </div>
                    <div class="flex flex-col mt-5">
                        <label class="font-poppins text-black text-2xl">Password</label>
                        <input name="password" type="password" placeholder="Input your password" class="font-poppins py-3 px-6 border-[1px] rounded-[15px]">
                    </div>
                    <!-- <div class="font-poppins text-2xl mt-5 py-3 px-64 text-white bg-[#1A1A1A] rounded-[10px] itrems-cente flex justify-center">
                        <button>Login</button>
                    </div> -->
                    <button type="submit" class=" w-full cursor-pointer font-poppins text-2xl mt-5 py-3 text-white bg-[#1A1A1A] rounded-[10px] itrems-cente flex justify-center">
                        Login
                    </button>
                    <p class="font-poppins text-[#0094C9] text-2xl flex justify-center mt-3">
                        Don't have an account?
                        <a href="#">Sign up</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>